<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="style.css">
        <title>Color Game</title>
</head>
<body>
        <h1>{{ custom_heading }}</h1>
        <h1> Todays date is: {{ todays_date }} </h1>
        <h1> Container hostname is: {{ host_name }} </h1>
        <h1> Container FQDN is: {{ fqdn_name }} </h1>
        <h1> Container IP Address is: {{ ip_address }} </h1>
        
           

       </body>
<script type="text/javascript" src="scorekeeper.js"></script>
</html>
